
.listcontainer {
    padding: 48px 127px;

  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
  }
 
  .h2-font {
    margin: 5px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
  }

  div.photo p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
  }
  button.bg-btn {
    background-color: transparent !important;
    height: 84px;
    width: 46%;
    text-align: left;
    padding-left: 100px;
    margin: 0px;
    padding-top: 10px;
  }

  button.about {
    border-right: 1px solid black;
    width: 50%;

  }

  .text-base {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
  }

  .step {
    background-color:     #52CD8B;
    height: 84px;
    border-radius: 50px;
    padding-top: 10px 80px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    align-items: center;
    margin-bottom: 92px;
}

.listingSelect {
  left: 135px;
  width: 49.6%;
  height: 88px;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  background-color: #D9D9D9;
  margin-bottom: 41px;
}

button.next-btn {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  background-color:  #52CD8B;
  height: 94px;
  width: 22.8%;
}

.input-field {
  height: 98px;
  width: 31.6%;
  background-color: #D9D9D9;
  margin-bottom: 31px;
}

input.description  {
  height: 343px;
  margin-top: 179px;
}